# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data & Logs
historico_isatis_technology_A.csv
scraper_log.txt
metadata.json
analyze_db.mjs
backfill_yf.mjs
fallback_yf.mjs
find_tickers.mjs
update_db.mjs
update_two.js
migrate_data.cjs
quefondos_cobas.html
ft_test.json
addSantamaria.js
updateData.js
fixTags.js
importIsatis.js
updateNewPhoto.js
adjustPositions.js
fixEncuadre.js
fineTune.js
updatePhotos.js
